// white
$body: #f6f7fa
// orange
$primary1: #d06e0a
// blue
$primary2: #52bee5
// sleek black
$accent: #272727

// override Bulma vars
$primary: $body

// import some Bulma styles
@import "node_modules/bulma/sass/utilities/_all.sass"
@import "node_modules/bulma/sass/base/generic.sass"
@import "node_modules/bulma/sass/base/helpers.sass"
@import "node_modules/bulma/sass/components/card.sass"
@import "node_modules/bulma/sass/components/dropdown.sass"
@import "node_modules/bulma/sass/components/level.sass"
@import "node_modules/bulma/sass/components/navbar.sass"
@import "node_modules/bulma/sass/elements/button.sass"
@import "node_modules/bulma/sass/elements/container.sass"
@import "node_modules/bulma/sass/elements/content.sass"
@import "node_modules/bulma/sass/elements/progress.sass"
@import "node_modules/bulma/sass/grid/columns.sass"
@import "node_modules/bulma/sass/layout/_all.sass"




.button.is-primary
	color: $black

.is-primary1
	background-color: $primary1
	color: $white

.is-primary2
	background-color: $primary2
	color: $white

html, body
	background-color: $primary
	color: $black
	margin: 0px
	font-size: 20px

.banner
	background-color: $accent

.logo
	text-align: center
	padding: 15px 0px

#navContent img
	display: block
	margin: 0px auto

#navContent > div
	position: absolute
	left: 25%
	right: 25%
	top: 20%
	margin: 0px auto

#mainHero
	position: relative
	background-image: url("buddha.jpg")
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.content
	margin: auto 4%

.postImg
	position: relative

.postImg p
	margin: 0
	color: $primary

.dateComp
	position: absolute
	top: 0
	right: 20px

.dateComp div
	position: absolute
	top: 0
	width: 100%

#posts h3
	margin-top: 0.5em

#newsAbout .left::after
	background-image: url('form-bottom.png')


.left
	float: left
	width: 50%

.right
	float: right
	width: 50%
