footer
	.level
		.level-item.has-text-centered
			h4 Office Hours
			p 9 am – 4:30 pm
			p Monday through Friday
		.level-item.has-text-centered
			p [img]
		.level-item.has-text-centered
			h4 Contact Us
			p 123West 12th Street, New York, NY
			p Tel: 1 (888) 123 4567
	.level
		.level-item.has-text-centered
			p [img]
		.level-item.has-text-centered
			p [img]
		.level-item.has-text-centered
			p [img]
		.level-item.has-text-centered
			p [img]

	p © 2018