footer
	.banner
		.logoBar(style='padding-bottom: 10px')
			a(href='https://www.templatemonster.com/demo/49498.html')
				img(src='logo-left.png')
				img#logo(src='logo.png')
				img(src='logo-right.png')
		.has-text-centered
			p(style='color: white; margin-bottom: 0; display: inline') Credit goes to this 
			a(href='https://www.templatemonster.com/demo/49498.html') template