.banner
	.logoBar
		a(href='https://www.templatemonster.com/demo/49498.html')
			img(src='logo-left.png')
			img#logo(src='logo.png')
			img(src='logo-right.png')

section#mainHero.hero.is-large
	//- main hero banner
	.hero-body
		.hero-content

			//- navbar
			nav#nav.navbar(role='navigation', aria-label='main navigation')
				.navbar-brand

					a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded="false", data-target="navContent")
						span(aria-hidden='true')
						span(aria-hidden='true')
						span(aria-hidden='true')
					
				#navContent.navbar-menu
					img(src='nav-wrap.png')
					.navbar-start(style='display: block; text-align: center')
						.columns
							.column
								a.navbar-item(href='/', style='color: #d06e0a') Home

							.column
								.navbar-item.has-dropdown.is-hoverable
									a.navbar-link.is-arrowless(href='about.pug') About Us
									.navbar-dropdown.is-primary
										a.navbar-item(href='/') Testimonials
										a.navbar-item(href='/') Achives
										a.navbar-item(href='/') FAQs
							.column
								a.navbar-item(href='#') Photo Gallery
							.column
								a.navbar-item(href='#') Blog
							.column
								a.navbar-item(href='#') Community
							.column
								a.navbar-item(href='#') Contacts